@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Red Hat Display, sans-serif;
}

body {
  background-color: #fafafa;
}

html {
  font-size: 62.5%;
}

/*
   Mobile Version 
*/

/*
  ========================================
    Header 
  ========================================
*/

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  padding: 4.8rem 0 5.6rem;
}

/*
  ========================================
    Section="upper-s" 
  ========================================
*/

.upper-s {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.profiles {
  width: 110%;
}

.name {
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  text-align: center;
  color: #28283d;
  padding-top: 4.8rem;
  width: 10ch;
}

.review {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #87879d;
  padding: 2.4rem 0 3.2rem;
  width: 30ch;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.btn {
  width: 19.3rem;
  height: 5.8rem;
  background: #4d96a9;
  border-radius: 29px;
  border: none;
  font-family: "Red Hat Display";
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 1.6rem;
}

.add {
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #8fe3f9;
}

.btn-question {
  width: 13.9rem;
  height: 5.8rem;
  background: #855fb1;
  border-radius: 29px;
  border: none;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  font-family: "Red Hat Display";
  text-align: center;
  color: #ffffff;
  margin: 0 auto 8rem;
}

.seperator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 6.1rem;
}

hr {
  width: 1px;
  height: 8.4rem;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.circle {
  width: 5.6rem;
  height: 5.6rem;
  background-color: #fafafa;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  color: #87879d;
}

/*
  ========================================
    Section="bottom-s" 
  ========================================
*/

.images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-gap: 2.5rem 2.5rem;
  padding: 0 2.5rem;
  margin-bottom: 4rem;
  justify-items: center;
}

.gallery {
  width: 100%;
  border-radius: 10px;
}

.purpose {
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #4d96a9;
  letter-spacing: 4px;
  text-align: center;
}

.vision {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #28283d;
  text-align: center;
  padding: 2.4rem 2.4rem 3.2rem;
}

.p-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #87879d;
  padding: 0 2.4rem 6.4rem;
}

/*
    ========================================
        Footer
    ========================================
*/

footer::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #4d96a9;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}

footer {
  background-image: url(./assets/mobile/image-footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 16.3rem;
  background-blend-mode: soft-light;
  background-color: #4d96a9;
}

.footer-combiner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.5rem 3.1rem;
}

.second {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -111px;
}

.slogan {
  padding-top: 6.4rem;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  color: #fafafa;
}

.recomm {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  color: #fafafa;
  padding: 2.4rem 0 3.2rem;
}

.download2 {
  background: #855fb1;
}

/*
   Tablet Version 
*/

@media screen and (min-width: 768px) {
  /*
    ========================================
        Section="upper-s"  
    ========================================
  */
  .name {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
  }

  .review {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 35ch;
  }

  .buttons {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  /*
    ========================================
        Section="bottom-s"  
    ========================================
  */

  .images {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .announcements {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

  .vision {
    width: 18ch;
    align-self: center;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }

  .p-description {
    width: 58ch;
    align-self: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }

  /*
    ========================================
        Footer  
    ========================================
  */

  footer {
    background-image: url(./assets/tablet/image-footer.jpg);
  }

  .footer-combiner {
    padding: 92px 0 68px;
  }

  .slogan {
    padding-top: 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
    width: 15ch;
  }

  .recomm {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    width: 47ch;
  }
}

/*
   Viewport Version 
*/
@media screen and (min-width: 1200px) {
  /*
    ========================================
        Section="upper-s"  
    ========================================
  */

  .profiles {
    display: none;
  }

  .upper-s {
    background-image: url(./assets/desktop/image-hero-left.png),
      url(./assets/desktop/image-hero-right.png);
    background-repeat: no-repeat;
    background-position: left, right;
    /* background-position: -30px 30px, 1124px 76px; */
  }

  .name {
    font-weight: 900;
    font-size: 64px;
    line-height: 64px;
    padding-top: 7.8rem;
  }

  .review {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    width: 44ch;
  }

  .download1 {
    cursor: pointer;
  }

  .download1:hover {
    background: #71c0d4;
    box-shadow: 0px 10px 10px rgb(164, 164, 199);
  }

  .btn-question {
    cursor: pointer;
  }

  .btn-question:hover {
    background: #b18bdd;
    box-shadow: 0px 10px 10px rgb(141, 47, 160);
  }

  .download2 {
    cursor: pointer;
  }

  .download2:hover {
    background: #b18bdd;
    box-shadow: 0px 10px 10px rgb(52, 43, 173);
  }
}

/*
   Desktop Version 
*/
@media screen and (min-width: 1440px) {
  /*
    ========================================
        Section="bottom-s"  
    ========================================
  */

  .images {
    padding: 0 16.5rem;
  }

  .purpose {
    padding-top: 6.6rem;
  }

  .p-description {
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    width: 46ch;
  }

  /*
    ========================================
        Footer  
    ========================================
  */

  footer {
    background-image: url(./assets/desktop/image-footer.jpg);
  }

  .footer-combiner {
    flex-direction: row;
    padding: 92px 165px 68px;
  }

  .slogan {
    text-align: justify;
    width: 12ch;
  }

  .recomm {
    text-align: justify;
    padding: 2.4rem 9.2rem 3.2rem 12.5rem;
  }
}
